/**
* Base template
*
*/
body {overflow-x: hidden;}

body {
	margin: 0;
	color: @gris;
	text-align: center;
	background-color: #FFF;
	//background-image: url('../images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
}



.moduletableimagen-fondo{
	position: absolute;
	left: 0;
	top: 215px;
	z-index: -1;
}

header {
	width: 100%;
	float: left;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	z-index: 1;
	float: left;
	margin: 0 auto;
}

.logo{
	float: left;
	width: 42%;
	padding: 10px;
	img{
		float: left;
	}
}

/* Login */

span.niftyquick span.yoo-login span.login {
	height: 100px;
	}

span.niftyquick span.yoo-login span.login span.registration{
	background-image: none;
	width: 188px;
	text-align: left;
	float: left;
	top: -15px;
	position: relative;
	margin: 0;
	float: left;
	left: -101px;
	h5{
		float: left;
		margin: 0;
		margin-top: -16px;
		margin-left: 84px;
	}
}

span.niftyquick span.yoo-login span.login span.password{
	background-image: none;
	border: 1px solid #CCC;
	padding: 2px 25px;
	top: 60px;
	position: relative;
	left: -85px;
	&:hover{
		background-image: none;
	}
}

span.niftyquick span.yoo-login span.login span.username{
	background-image: none;
	border: 1px solid #CCC;
	padding: 2px 25px;
	top: 60px;
	position: relative;
	left: -85px;
	&:hover{
		background-image: none;
	}
}

span.niftyquick span.yoo-login span.login span.lostpassword{
	background-image: none;
	width: 90px;
	margin: 0;
	position: relative;
	left: 220px;
	top: 60px;
	display: inline-block;
	a{
	font-size: 10px;
	color: #1CADEB;
	display: inline-block;
	}
	&:hover{
		background-image: none;
	}
}
span.niftyquick span.yoo-login span.login span.login-button{
	background-image: url('../images/iconos/flecha.png');
	background-position: center;
	width: 22px;
	position: relative;
	top: 59px;
	left: -85px;
	&:hover{
		background-image: url('../images/iconos/flecha.png');
		background-position: center;
	}
}

.login{
	color: #787979;
	a{
		text-decoration: none;
		color: #787979;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
	}
	h4{
		top: 0;
		left: 0;
		position: relative;
		margin: 0;
		margin-right: 10px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: #1CADEB;
		display: inline-block;
	}
	h5{
		top: 62px;
		position: relative;
		margin: 0;
		float: left;
		margin-right: 10px;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
		left: -85px;
		color: #1CADEB;
	}
	h6{
		top: 35px;
		position: relative;
		margin: 0;
		float: left;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
		left: -11px;
	}
}

/* Carrito */

.moduletablecarrito{
	top: -37px;
	position: relative;
	float: right;
	margin-bottom: -10px;
	font-family: 'Arimo', sans-serif;
	font-weight: lighter;
	font-size: 13px;
	color: #1CADEB;
	&:before{
		content: "";
		position: absolute;
		width: 29px;
		height: 22px;
		background-image: url('../images/iconos/carrito.png');
		background-position: center;
		left: -33px;
		top: -4px;
	}
}

//estilos footer

footer {
	display: inline-block !important;
	.size(100%, auto);
	text-align: center;
	.contenedor-footer{
		width: 920px;
		margin: 0 auto;
	.info {
		margin: 0 auto;
		position: relative;
		font-family: 'Arimo', sans-serif;
		font-size: 12px;
		color: #787979;
		.moduletable{
			table{
				tr{
					td{
						p{
							margin: 0;
						}
						a{
							text-decoration: none;
							color: #787979;
						}
						text-align: left;
						&:first-child{
							width: 15%;
						}
						&:nth-child(2){
							width: 26%;
						}
						&:nth-child(3){
							width: 21%;
						}
						&:nth-child(4){
							width: 20%
						}
					}
				}
			}
		}
	}	

	.copy{	width: 100%;
			padding: 10px 0 0 0;
			font-family: 'Arimo', sans-serif;
			font-size: 13px;
			color: #787979;

			.sainet{
				width: 1000px;
				display: inline-block;
				img{
					vertical-align: middle;
				}

				a{
					text-decoration: none;
					font-size: 13px;
					color: #787979;
					font-weight: lighter;
				}
			}
		}
	}
}

#jcemediabox-popup-info-bottom{
	position: initial;
}
#jcemediabox-popup-closelink{
	position: absolute;
	top: 10px !important;
}

// Notifications
.global-notification {

	display: none;
	position: fixed;
	padding: 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #7A7260;
	background-color: lighten( #FFC633, 25%);
	.box-shadow( 0px 0px 6px darken(@gris, 50%) );
	color: darken(@gris, 60%) ;
	font-size: 1.5rem;
	text-align: center;
	z-index: 99999999;

	&.red { color: darken(red, 30%) }
}