#carrito{
	.prob{
		float: right;
		.texto_claro;
		font-style: italic;
		font-size: 12px;
		width: 100%;
		text-align: right;
		margin-top: 10px;
		margin-right: 10px;
	}

	#carrito_detail{
		table.productos{
			width: 100%;
			border-collapse: inherit; 
			border-spacing: 10px; 
			border-bottom: 1px dashed rgba(102, 102, 102, 0.57);

			td{
				&.titles_products{
					.texto_oscuro;
					background: #E6E7E8;
					padding: 5px 39px;
					text-align: center;
					text-transform: uppercase;
				}

				&.all{
					text-align: center;
					vertical-align: top;
					padding-top: 9px;

					img{
						float: none;
						width: 147px;
						height: 107px;
					}

					span.titulo
					{
						.texto_oscuro;
						width: 100%;
						display: inline-block;
						margin: 2px 0;
					}
					.referencia, .descripcion{
						.texto_claro;
						width: 100%;
						display: inline-block;						
					}
					.price, .all_price{
						.texto_claro;
						width: 100%;
						display: inline-block;		
						text-align: center;				
					}

					a.delete{
						.boton_gris;
						font-size: 12px;
						float: left;
						margin-top: 12px;
						font-family: @arimo;
						text-decoration: none;
						padding: 4px 9px;
					}
				}
			}
		}

		.opciones{
			width: 100%;
			float: right;
			#continuar{
				.boton_gris;
				float: right;
				text-decoration: none;
				margin-top: 20px;
				font-family: @arimo;
				padding: 5px 65px;
				margin-left: 20px;
				margin-right: 10px;

			}
			#seguir{
				.boton_gris;
				float: right;
				text-decoration: none;
				margin-top: 20px;
				font-family: @arimo;
				padding: 5px 15px;
			}

			span{
				.texto_claro;
				display: inline-block;
				float: right;
				margin-top: 5px;
				text-align: right;
				width: 100%;
				font-size: 12px;
			}
		}

		table.totales{
			width: 215px;
			float: right;
			margin-top: 20px;

			tr{

				&:nth-child(2n+1){
					td{
						.texto_claro;
					}
				}
				&:nth-child(2n){
					td{
						.texto_oscuro;

					}
				}

				td{
					padding: 5px;
					font-size: 17px;
					color: #929497;

					&:nth-child(2n+1){text-align: right;}

					&:nth-child(2n){text-align: left;}
				}	
			}		
		}
	}
}