#confirmar{
	.prob{
		float: right;
		.texto_claro;
		font-style: italic;
		font-size: 12px;
		width: 100%;
		text-align: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	h4.subt{
		display: inline-block;
		width: 100%;
		text-align: left;
		.texto_oscuro;
		font-size: 15px;
		margin-bottom: 15px;
		text-transform: none;
		margin-left: 0;
	}

	#confirmar_pedido{

		h4{ .texto_oscuro; margin-left: 0;}

		.datos_envio{
			width: 100%;
			float: left;
			.texto_claro;

			td{
				padding: 5px 0;

				a{
					.boton_gris;
					text-decoration: none;
					font-size: 13px;
					padding: 2px 15px;
				}
			}
		}
	}

	table.list_products{
		width: 100%;
		border-collapse: inherit; 
		margin-top: 30px;
		float: left;
		border-spacing: 10px; 
		border-bottom: 1px dashed rgba(102, 102, 102, 0.57);

		td{
			&.titles_products{
				.texto_oscuro;
				background: #E6E7E8;
				padding: 5px 39px;
				text-align: center;
				text-transform: uppercase;
			}

			&.all{
				text-align: center;
				vertical-align: top;
				padding-top: 9px;

				img{
					float: none;
					width: 147px;
					height: 107px;
				}

				span.titulo
				{
					.texto_oscuro;
					width: 100%;
					display: inline-block;
					margin: 2px 0;
				}
				.referencia, .descripcion, .talla{
					.texto_claro;
					width: 100%;
					display: inline-block;						
				}
				.price, .sub_price, .cantidad{
					.texto_claro;
					width: 100%;
					display: inline-block;		
					text-align: center;				
				}

				a.delete{
					.boton_gris;
					font-size: 12px;
					float: left;
					margin-top: 12px;
					font-family: @arimo;
					text-decoration: none;
					padding: 4px 9px;
				}
			}
		}
	}

	.seguro{
		width: 275px;
		float: left;
		position: relative;
		margin-top: 12px;
		margin-left: -12px;

		.azul{
			.azul;
		}

		&:after{
			content: "";
			background: url("../templates/tshirtcontenidos/images/candado.png") no-repeat;
			width: 34px;
			height: 31px;
			position: absolute;
			left: 12px;
			top: -5px;
		}
	}

	table.totales{
		width: 215px;
		float: right;
		margin-top: 20px;

		tr{

			&:nth-child(2n+1){
				td{
					.texto_claro;
				}
			}
			&:nth-child(2n){
				td{
					.texto_oscuro;

				}
			}

			td{
				padding: 5px;
				font-size: 17px;
				color: #929497;

				&:nth-child(2n+1){text-align: right;}

				&:nth-child(2n){text-align: left;}
			}	
		}		
	}
	.opciones{
		width: 100%;
		float: right;

		#continuar{
			.forma_pago;
			.boton_gris;
			float: right;
			text-decoration: none;
			margin-top: 20px;
			font-family: @arimo;
			padding: 5px 65px;
			margin-left: 20px;
			margin-right: 0px;

		}
		span{
			.texto_claro;
			display: inline-block;
			float: right;
			margin-top: 5px;
			text-align: right;
			width: 100%;
			font-size: 12px;
		}
	}
}	