/*Banner*/
	.banner {
		position: relative;
		margin-top: 20px;
		&:before, &:after{
			z-index: -1;
			position: absolute;
			content: "";
			bottom: 15px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width: 300px;
			background: #000;
			-webkit-box-shadow: 0 15px 10px #797979;
			-moz-box-shadow: 0 15px 10px #797979;
			box-shadow: 0 15px 10px #797979;
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-3deg);
			}
			&:after
			{
				-webkit-transform: rotate(3deg);
				-moz-transform: rotate(3deg);
				-o-transform: rotate(3deg);
				-ms-transform: rotate(3deg);
				transform: rotate(3deg);
				right: 10px;
				left: auto;
			}

		.default-black .ju-slide-desc .label-title {
			text-transform: uppercase;
			margin-top: 10px;
			margin-bottom: 0;
			line-height: 1;
			font-size: 55px;
			font-family: 'Playball', cursive;
			text-transform: capitalize;
			color: #7FCF59;
		}

		.default-black .ju-slide-desc .label-desc {
			font-family: 'Comfortaa', cursive;
			font-size: 20px;
			font-weight: lighter;
		}

		.default-black .ju-slide-desc {
			background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
			color: #FFF;
			left: 0;
			bottom: 15%;
			padding: 0;
			width: 365px;
			height: auto;
			max-height: 210px;
			text-align: left;
		}

		.ju-slideshow .ju-slide-desc-inner {
			display: inline-block;
			max-height: 100%;
			max-width: 100%;
			margin-left: 20px;
			overflow: hidden;
			text-align: center;
			width: auto;
		}

		.ju-slide-navigation-dots{
			right: 10% !important;
			background-repeat: no-repeat;
			background-size: contain;
			margin: -8px 5px;
		}

		.default-black .ju-slide-navigation-numbers{
			visibility: hidden;
		}

		.ju-slideshow .ju-slide-navigation-dots .image_number_select {
			background: #FFF;
			float: left;
		}
	}
/* Login */

span.niftyquick span.yoo-login span.login {
	height: 100px;
	}

span.niftyquick span.yoo-login span.login span.registration{
	background-image: none;
	width: 188px;
	text-align: left;
	float: left;
	top: -15px;
	position: relative;
	margin: 0;
	float: left;
	left: -101px;
	h5{
		float: left;
		margin: 0;
		margin-top: -16px;
		margin-left: 84px;
	}
}

span.niftyquick span.yoo-login span.login span.password{
	background-image: none;
	border: 1px solid #CCC;
	padding: 2px 25px;
	top: 60px;
	position: relative;
	left: -85px;
	&:hover{
		background-image: none;
	}
}

span.niftyquick span.yoo-login span.login span.username{
	background-image: none;
	border: 1px solid #CCC;
	padding: 2px 25px;
	top: 60px;
	position: relative;
	left: -85px;
	&:hover{
		background-image: none;
	}
}

span.niftyquick span.yoo-login span.login span.lostpassword{
	background-image: none;
	width: 90px;
	margin: 0;
	position: relative;
	left: 220px;
	top: 60px;
	display: inline-block;
	a{
	font-size: 10px;
	color: #1CADEB;
	display: inline-block;
	}
	&:hover{
		background-image: none;
	}
}
span.niftyquick span.yoo-login span.login span.login-button{
	background-image: url('../images/iconos/flecha.png');
	background-position: center;
	width: 22px;
	position: relative;
	top: 59px;
	left: -85px;
	&:hover{
		background-image: url('../images/iconos/flecha.png');
		background-position: center;
	}
}

.login{
	color: #787979;
	a{
		text-decoration: none;
		color: #787979;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
	}
	h4{
		top: 0;
		left: 0;
		position: relative;
		margin: 0;
		margin-right: 10px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: #1CADEB;
		display: inline-block;
	}
	h5{
		top: 62px;
		position: relative;
		margin: 0;
		float: left;
		margin-right: 10px;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
		left: -85px;
		color: #1CADEB;
	}
	h6{
		top: 35px;
		position: relative;
		margin: 0;
		float: left;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
		left: -11px;
	}
}

/* Carrito */

.moduletablecarrito{
	top: -37px;
	position: relative;
	float: right;
	margin-bottom: -10px;
	font-family: 'Arimo', sans-serif;
	font-weight: lighter;
	font-size: 13px;
	color: #1CADEB;
	&:before{
		content: "";
		position: absolute;
		width: 29px;
		height: 22px;
		background-image: url('../images/iconos/carrito.png');
		background-position: center;
		left: -33px;
		top: -4px;
	}
}

/* Contenido */
.moduletableempleo{
			background-color: red;
		}
		.rsformempleo{
			text-align: center;
			background-color: red;
		}
.contenedor-header {
	width: 920px;
	display: inline-block;
	text-align: center;
	position: relative;

		.logo{
			display: inline-block;
			position: relative;
			z-index: 5;
		}
		nav {
			width: 100%;
			position: relative;
			font-family: 'Arimo', sans-serif;
			display: inline-block;

			.menu1 {
				margin: 0 auto;
				width: 920px;
				border-radius: 5px;
				display: inline-block;
				background: rgb(214,214,214); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(147,147,147,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(147,147,147,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
				box-shadow: 1px 7px 10px -4px #5C5C5C;
				.menu{
					padding: 0;
					margin: 0;
				}
				li {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					a {
						font-size: 13px;
						color: #3D3028;
						text-decoration: none;
						position: relative;
						font-weight: bold;
						padding: 5px 0 !important;
						display: inline-block;
						line-height: 12px;

						&:hover {
							color: #FFF;
						}
					}

					ul{
						max-height:0px; 
						min-width: 50px;
						width: 105px;
						position: absolute;
						visibility: hidden;
						z-index: 999;
						top: 34px;
						left: 1px;
						transition: max-height .8s .5s;
						-moz-transition: max-height .8s .5s;
						-o-transition: max-height .8s .5s;
						-webkit-transition: max-height .8s .5s;


						li{
							display: block;
							border: none;
							background: rgb(214,214,214); /* Old browsers */
							background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(147,147,147,1) 100%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(147,147,147,1))); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Opera 11.10+ */
							background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* IE10+ */
							background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
							border: 1px solid #000;
							width: 100% !important;
							text-align: center;
							margin: 0;



							&:before{
								width: 0 !important;
								height: 0 !important;
							}

							&:last-child{
								border-right: 1px solid #000;
							}

							a {
								font-size: 13px;
								color: #3D3028;
								text-decoration: none;
								position: relative;
								font-weight: bold;
								width: 100%;
								display: inline-block;
								padding: 3px 0 !important;

								&:hover {
									color: #FFF;
								}
							}

							ul{
								max-height:0px; 
								min-width: 50px;
								width: 110px;
								visibility: hidden;
								position: absolute;
								z-index: 999;
								top: -9px;
								left: 105px;
								transition: max-height .8s .5s;
								-moz-transition: max-height .8s .5s;
								-o-transition: max-height .8s .5s;
								-webkit-transition: max-height .8s .5s;
								margin-top: 8px;
							}

							&:hover{

								& > ul{
									max-height: 610px;
									visibility: visible;
								}
							}
			  			}	
					}

					&:hover{

					 	& > ul{
							max-height: 610px;
							visibility: visible;
						}
					}


					&:first-child{
						width: 50px;
					}

					&:nth-child(2){
						width: 110px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(3){
						width: 105px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(4){
						width: 130px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(5){
						width: 113px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color:	#898989;
						}
					}

					&:nth-child(6){
						width: 77px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(7){
						width: 147px;
						a{
							padding: 1px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(8){
						width: 88px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(9){
						width: 99px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(10){
						width: 91px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}

					&:last-child{
						border-right: none;
						width: 99px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}
				}
			}
		}
	}

/* Contenido */


main{
	width: 100%;
	float: left;
	margin-top: 30px;
	margin-bottom: 80px;
	
	.content-all{
		width: 920px;
		display: inline-block;
		img{
			float: left;
		}
		.imagenes-main{
			.moduletable{
				table{
					margin: 0 auto;
					position: relative;
					float: left;
					tr{
						td{
							width: 288px;
							float: left;
							padding: 0;
							border-radius: 5px;
							text-align: left;
							position: relative;
							box-shadow: 1px 6px 10px -6px;
							max-height: 178px;


							&:nth-child(2){
					   			margin: 0 26px;

					   		}
							&:hover{
						-ms-transform: scale(1.04); /* IE 9 */
					   -webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
					   transform: scale(1.04);
					   opacity: 0.8;
					}
							p{
								margin: 0;
								img{
								}
							}
							h4{
								display: inline-block;

							}
						}
					}
				}
			}
		}
		.registro{
			background-image: url('../images/home/boton-verde.png');
			float: left;
			background-repeat: no-repeat;
			width: 288px;
			min-height: 178px;
			margin-top: 2px;
			position: relative;
			box-shadow: 1px 6px 10px -6px;
			&:hover{

				-ms-transform: scale(1.04);
				-webkit-transform: scale(1.04);
				transform: scale(1.04);
				opacity: 0.8;
			}
		}
		.category_description{
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: #5A5A5A;
			font-weight: bold;
			font-weight: 600;
			margin-bottom: 40px;
		}
		h1{
			font-family: 'Open Sans', sans-serif;
			font-size: 28px;
			color: #5A5A5A;
			border-bottom: 1px dashed;
			width: 680px;
			text-align: left;
			padding-bottom: 10px;
			margin-bottom: 25px;
			font-weight: bold;
			border-radius: 5px;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 300px;
				height: 100px;
				right: -249px;
				top: 0;
				background-image: url('../images/pasos.png');
				background-position: center top;
				background-repeat: no-repeat;
			}
		}
		.browse-view{
			.orderby-displaynumber{
				display: none;
			}
			.width30{
				width: 100%;
			}
			.width70{
				width: 100%;
				background-color: #E2E2E2;
				background-color: #E2E2E2;
				border-radius: 8px;
				a.product-details{
					margin: 5px 0 10px 0;
					font-family: 'Open Sans', sans-serif;
					font-size: 13px;
					display: none;
				}
			}
			img{
				float: none;
			}
			h2{
				width: 80%;
				text-align: center;
				display: inline-block;
				padding: 8px 0 5px 0 !important;
				margin: 0 auto !important;
				a{
					text-decoration: none;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					color: #5A5A5A;
					font-weight: bold;
					margin: 0 1px;
					text-align: center;
				}
			}
			.product-price{
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				color: #5A5A5A;
				margin: 0 0 5px !important;
			}
		}
		.item-pagenovedades{
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 10px;
				margin-bottom: 20px;
				font-weight: bold;
				border-radius: 5px;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				margin-right: 20px;
				line-height: 18px;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 24px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				img{
					margin-bottom: 20px;
					margin-right: 0 !important;
				}
			}
			h6{
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				color: #5A5A5A;
				text-align: left;
				margin-bottom: 20px;
			}
			img{
					margin-right: -20px;
			}
		.volver-noticias{
			width: 100%;
			display: inline-block;
			text-align: right;
			margin-top: 25px;
			a{
			text-decoration: none;
			color: #FFF;
			font-family: 'Open Sans';
			font-size: 14px;
			background: rgb(119,119,119); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
			text-transform: uppercase;
			margin-right: 370px;
			padding: 5px 20px;
			position: relative;
			border-radius: 5px;
				&:hover{
					opacity: 0.7;
					transition: all 0.3s;
				}
			}
		}
		.nspArt {
			margin: 10px 0;
			div{
				border: 1px solid #CCC;
				border-radius: 10px;
			}
		}
		.nspHeader{
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			width: 82%;
			margin-bottom: 20px;
			text-transform: uppercase;
			a{
				color: #ccc;
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				font-weight: bold;
				color: #5A5A5A;
			}
		}
		.nspText{
			font-family: 'Open Sans';
			font-size: 14px;
			margin-bottom: 10px;
			line-height: 18px;
		}
		.nspImage{
			border: 1px solid #ccc;
			border-radius: 5px;
		}
		a.readon{
			text-decoration: none;
			color: #FFF;
			font-family: 'Open Sans';
			font-size: 14px;
			background: rgb(119,119,119); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
			text-transform: uppercase;

			padding: 5px 20px;
			position: relative;
			border-radius: 5px;
			&:hover{
				opacity: 0.7;
				transition: all 0.3s;
			}
		}
		}
		.item-pagetiendas{
			table{
				&:nth-child(2){
					width: 35%;
					margin-top: 20px;
					float: left;
					tr{
						td{
							display: inline-block;
							border-radius: 15px;
							border: 1px solid #CCC;
							padding: 20px;
							margin-bottom: 15px;
							float: left;
							width: 100%;
							background-color: #FFF;
						}
					}
				}
				&:nth-child(3){
					width: 60%;
					margin-top: 20px;
					float: right;
					iframe{
						width: 530px !important;
						float: right;
						height: 752px !important;
					}
				}
			}
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 10px;
				font-weight: bold;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px;
			}
		}

		.item-pagemontar{
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 5px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px;
			}
			a{
				text-decoration: none;
				color: #09bdfb;
			}
		}
		.item-pagecondiciones{
			table{
				margin-bottom: 50px;
			}
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 5px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px;
			}
			a{
				text-decoration: none;
				color: #09bdfb;
			}
			img{
				float: none;
				margin-bottom: 25px;
			}
		}
		.item-pageeventos{
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 5px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 24px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-bottom: 10px;
				margin-top: 20px;
				display: inline-block;
				width: 100%;
			}
			h6{
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-bottom: 10px;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px;
			}
			a{
				text-decoration: none;
			}
		}
		.item-pagepreguntas{
			div.nn_sliders_content{
				border: 0;
			}
			div.nn_sliders_container{
				margin-top: 20px;
			}
			div.nn_sliders_slider{
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				color: #5A5A5A;
				font-weight: 300;
				text-align: left;
				a{
					text-decoration: none;
					color: #5A5A5A;
					border: 1px solid #5A5A5A;
					background-color: #E8E8E8;
					background-image: url('../images/preguntas-frecuentes/mas.png');
					background-repeat: no-repeat;
					background-position: 8px center;
					margin: 5px 0 2px 0;
					span{
						margin-left: 30px;
					}					
				}

				&.active{
					a{
						background-image: url('../images/preguntas-frecuentes/menos.png');
						background-repeat: no-repeat;
						background-position: 8px center;
					}
				}
			}
			table{
				tr{
					td{
						padding: 20px;
						vertical-align: top;
						width: 50%;
					}
				}
			}
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 5px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-bottom: 10px;
				margin-top: 20px;
				display: inline-block;
				text-align: center;
				width: 100%;
			}
			h6{
				font-family: 'Open Sans', sans-serif;
				font-size: 15px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-bottom: 20px;
				margin-top: 20px;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px !important;
			}
			a{
				text-decoration: none;
				color: #09bdfb;
			}
			img{
				float: none;
			}
		}
		.item-pageestampado{
			table{
				tr{
					td{
						padding: 0 20px;
						vertical-align: top;
					}
				}
			}
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 10px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			h3{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				text-align: left;
				padding-bottom: 5px;
				margin-bottom: 20px;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 24px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-bottom: 10px;
				margin-top: 20px;
				display: inline-block;
				width: 100%;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px;
			}
			a{
				text-decoration: none;
			}
		}
		.item-pageempleo{
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 5px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 24px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-bottom: 10px;
				margin-top: 20px;
				display: inline-block;
				width: 100%;
			}
			h6{
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-bottom: 10px;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px;
			}
			a{
				text-decoration: none;
			}
			.rsform-block-campos{
				width: 573px;
				text-align: right;
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				color: #5A5A5A;
				margin-bottom: 0;
			}
			.rsform-block-mensaje{
				margin-bottom: 10px;
			}
			.rsform-block-indicativo{
				position: absolute;
				width: 573px;
				.formBody{
					float: left;
					position: absolute;
					top: -32px;
					left: 370px;
					font-family: 'Open Sans', sans-serif;
					font-size: 12px;
					color: #5A5A5A;
				}
			}
			.formControlLabel{
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				color: #5A5A5A;
				margin-right: 10px;
			}
			#userForm select{
				float: left;
				width: 75px;
				background: rgb(239,239,239); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(239,239,239,1) 43%, rgba(219,219,219,1) 50%, rgba(239,239,239,1) 56%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,rgba(239,239,239,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(56%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */



			}
			.formResponsive{
				input[type="text"]{
					float: left;
					margin: 0;
					box-shadow: 0px 10px 20px -17px inset;
					-ms-box-shadow: 0px 10px 20px -17px inset;
					font-family: 'Open Sans';
					font-size: 14px;
				}
				input[type="submit"]{
					text-decoration: none;
					color: #FFF;
					font-family: 'Open Sans';
					font-size: 14px;
					background: rgb(119,119,119); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
					text-transform: uppercase;
					border: 0;
					padding: 5px 12px;
					position: relative;
					border-radius: 5px;
				}
				textarea{
					float: left;
					margin: 0;
					box-shadow: 0px 10px 20px -17px inset;
					-ms-box-shadow: 0px 10px 20px -17px inset;
					font-family: 'Open Sans';
					font-size: 14px;
				}
			}
		}
		.item-pagecontactenos{
			h2{
				font-family: 'Open Sans', sans-serif;
				font-size: 28px;
				color: #5A5A5A;
				border-bottom: 1px dashed;
				width: 700px;
				text-align: left;
				padding-bottom: 10px;
				margin-bottom: 10px;
				font-weight: bold;
			}
			h5{
				font-family: 'Open Sans', sans-serif;
				font-size: 15px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-top: 10px;
			}
			h6{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				color: #5A5A5A;
				text-align: left;
				font-weight: bold;
				margin-top: 20px;
			}
			p{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				text-align: justify;
				color: #5A5A5A;
				line-height: 18px;
			}
			a{
				text-decoration: none;
			}
			.rsform-block-campos{
				width: 573px;
				text-align: right;
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				color: #5A5A5A;
				margin-bottom: 0;
			}
			.rsform-block-mensaje{
				margin-bottom: 10px;
			}
			.rsform-block-indicativo{
				position: absolute;
				width: 573px;
				.formBody{
					float: left;
					position: absolute;
					top: 14px;
					left: 370px;
					font-family: 'Open Sans', sans-serif;
					font-size: 12px;
					color: #5A5A5A;
				}
			}
			.formControlLabel{
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				color: #5A5A5A;
				margin-right: 10px;
			}
			#userForm select{
				float: left;
				width: 75px;
				background: rgb(239,239,239); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(239,239,239,1) 43%, rgba(219,219,219,1) 50%, rgba(239,239,239,1) 56%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,rgba(239,239,239,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(56%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(239,239,239,1) 43%,rgba(219,219,219,1) 50%,rgba(239,239,239,1) 56%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */



			}
			.formResponsive{
				input[type="text"]{
					float: left;
					margin: 0;
					box-shadow: 0px 10px 20px -17px inset;
					-ms-box-shadow: 0px 10px 20px -17px inset;
				}
				input[type="submit"]{
					text-decoration: none;
					color: #FFF;
					font-family: 'Open Sans';
					font-size: 14px;
					background: rgb(119,119,119); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
					text-transform: uppercase;
					border: 0;
					padding: 5px 12px;
					position: relative;
					border-radius: 5px;
				}
				#nombre, #direccion, #email{
					width: 300px;
				}
				#telefono, #celular{
					width: 200px;
				}
				#mensaje{
					width: 410px;
				}
				textarea{
					float: left;
					margin: 0;
					box-shadow: 0px 10px 20px -17px inset;
					-ms-box-shadow: 0px 10px 20px -17px inset;
				}
				.formHorizontal{
					position: relative;
					.formControls{
						margin: 0;
					}
				}
			}
		}
	}
}