#envios{
	.prob{
		float: right;
		.texto_claro;
		font-style: italic;
		font-size: 12px;
		width: 100%;
		text-align: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	h4.subt{
		display: inline-block;
		width: 100%;
		text-align: left;
		.texto_oscuro;
		font-size: 15px;
		margin-top: 15px;
		text-transform: uppercase;
	}

	#metodo_envios{
		table.met_envios{
			width: 701px;
			float: left;
			.texto_oscuro;
			margin: 0px 30px 0 0;
			border: 2px solid #666;
			tr{

				td{
					.texto_oscuro;
					padding: 4px;
					text-align: justify;
					font-size: 15px;
					background: #F1F1F2;
					font-weight: lighter;
					&.top{
						.boton_gris;
						border-radius: 0;
						padding: 6px;
						border-bottom: 1px solid #666;

						h4{margin-left: 33px;}
					}

					h5{
						text-align: left;
						font-size: 15px;
						font-weight: lighter;
						font-weight: bold;
						text-transform: uppercase;
						margin: 10px 0;
					}
				}
			}
		}
		.desc{
			width: 100%;
			float: left;
			.texto_claro;
			margin-top: 12px;
			line-height: 23px;
			font-size: 14px;
			h4{ font-weight: bold;}
		}
		.opciones{
			#continuar{
				.forma_pago;
				.boton_gris;
				float: right;
				text-decoration: none;
				margin-top: 20px;
				font-family: @arimo;
				padding: 5px 65px;
				margin-left: 20px;
				margin-right: 10px;

			}
			span{
				.texto_claro;
				display: inline-block;
				float: right;
				margin-top: 5px;
				text-align: right;
				width: 100%;
				font-size: 12px;
			}
		}
	}
}