#gracias{
	.prob{
		float: right;
		.texto_claro;
		font-style: italic;
		font-size: 12px;
		width: 100%;
		text-align: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	h4.subt{
		display: inline-block;
		width: 100%;
		text-align: left;
		.texto_oscuro;
		font-size: 15px;
		margin-bottom: 15px;
		text-transform: none;
		margin-left: 0;
	}

	.content-detail{
		width: 100%;
		float: left;
		.texto_claro;
		clear: both;
		margin: 30px 0;

		p{
			margin: 10px 0;
			line-height: 19px;
		}
	}

	#accordion{
		width: 725px;
		margin: 0 auto;
		clear: both;

		.ui-accordion-header{
			padding: 7px 7px 7px 30px;
			.texto_claro;
			text-transform: uppercase;
			margin: 0;
			background-color: #F1F1F2;
			border: 1px solid rgba(102, 102, 102, 0.42);
			border-radius: 4px;
			background-image: url("../templates/tshirtcontenidos/images/img-mas.png");
			background-repeat: no-repeat;
			background-position: left;
		}

		.ui-state-active{
			background-image: url("../templates/tshirtcontenidos/images/img-menos.png");
			background-repeat: no-repeat;
			background-position: left;
		}

		.ui-accordion-content{
			border: none;
			// height: auto!important;
			.texto_claro;
			 text-align: center;
			 height: auto !important;

			img{
				margin: 19px 30px;
				float: none;
			}
		}
	}
}	