/*Banner*/
	.banner {
		position: relative;
		margin-top: 20px;
		&:before, &:after{
			z-index: -1;
			position: absolute;
			content: "";
			bottom: 15px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width: 300px;
			background: #000;
			-webkit-box-shadow: 0 15px 10px #797979;
			-moz-box-shadow: 0 15px 10px #797979;
			box-shadow: 0 15px 10px #797979;
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-3deg);
			}
			&:after
			{
				-webkit-transform: rotate(3deg);
				-moz-transform: rotate(3deg);
				-o-transform: rotate(3deg);
				-ms-transform: rotate(3deg);
				transform: rotate(3deg);
				right: 10px;
				left: auto;
			}

		.default-black .ju-slide-desc .label-title {
			text-transform: uppercase;
			margin-top: 10px;
			margin-bottom: 0;
			line-height: 1;
			font-size: 55px;
			font-family: 'Playball', cursive;
			text-transform: capitalize;
			color: #7FCF59;
		}

		.default-black .ju-slide-desc .label-desc {
			font-family: 'Comfortaa', cursive;
			font-size: 20px;
			font-weight: lighter;
		}

		.default-black .ju-slide-desc {
			background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
			color: #FFF;
			left: 0;
			bottom: 15%;
			padding: 0;
			width: 365px;
			height: auto;
			max-height: 210px;
			text-align: left;
		}

		.ju-slideshow .ju-slide-desc-inner {
			display: inline-block;
			max-height: 100%;
			max-width: 100%;
			margin-left: 20px;
			overflow: hidden;
			text-align: center;
			width: auto;
		}

		.ju-slide-navigation-dots{
			right: 10% !important;
			background-repeat: no-repeat;
			background-size: contain;
			margin: -8px 5px;
		}

		.default-black .ju-slide-navigation-numbers{
			visibility: hidden;
		}

		.ju-slideshow .ju-slide-navigation-dots .image_number_select {
			background: #FFF;
			float: left;
		}
	}
/* Login */

span.niftyquick span.yoo-login span.login {
	height: 100px;
	}

span.niftyquick span.yoo-login span.login span.registration{
	background-image: none;
	width: 188px;
	text-align: left;
	float: left;
	top: -15px;
	position: relative;
	margin: 0;
	float: left;
	left: -101px;
	h5{
		float: left;
		margin: 0;
		margin-top: -16px;
		margin-left: 84px;
	}
}

span.niftyquick span.yoo-login span.login span.password{
	background-image: none;
	border: 1px solid #CCC;
	padding: 2px 25px;
	top: 60px;
	position: relative;
	left: -85px;
	&:hover{
		background-image: none;
	}
}

span.niftyquick span.yoo-login span.login span.username{
	background-image: none;
	border: 1px solid #CCC;
	padding: 2px 25px;
	top: 60px;
	position: relative;
	left: -85px;
	&:hover{
		background-image: none;
	}
}

span.niftyquick span.yoo-login span.login span.lostpassword{
	background-image: none;
	width: 90px;
	margin: 0;
	position: relative;
	left: 220px;
	top: 60px;
	display: inline-block;
	a{
	font-size: 10px;
	color: #1CADEB;
	display: inline-block;
	}
	&:hover{
		background-image: none;
	}
}
span.niftyquick span.yoo-login span.login span.login-button{
	background-image: url('../images/iconos/flecha.png');
	background-position: center;
	width: 22px;
	position: relative;
	top: 59px;
	left: -85px;
	&:hover{
		background-image: url('../images/iconos/flecha.png');
		background-position: center;
	}
}

.login{
	color: #787979;
	a{
		text-decoration: none;
		color: #787979;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
	}
	h4{
		top: 0;
		left: 0;
		position: relative;
		margin: 0;
		margin-right: 10px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		font-size: 13px;
		color: #1CADEB;
		display: inline-block;
	}
	h5{
		top: 62px;
		position: relative;
		margin: 0;
		float: left;
		margin-right: 10px;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
		left: -85px;
		color: #1CADEB;
	}
	h6{
		top: 35px;
		position: relative;
		margin: 0;
		float: left;
		font-family: 'Arimo', sans-serif;
		font-weight: lighter;
		font-size: 13px;
		left: -11px;
	}
}

/* Carrito */

.moduletablecarrito{
	top: -37px;
	position: relative;
	float: right;
	margin-bottom: -10px;
	font-family: 'Arimo', sans-serif;
	font-weight: lighter;
	font-size: 13px;
	color: #1CADEB;
	&:before{
		content: "";
		position: absolute;
		width: 29px;
		height: 22px;
		background-image: url('../images/iconos/carrito.png');
		background-position: center;
		left: -33px;
		top: -4px;
	}
}

/* Contenido */
.contenedor-header {
	width: 920px;
	display: inline-block;
	text-align: center;
	position: relative;

		.logo{
			display: inline-block;
			position: relative;
			z-index: 5;
		}
		nav {
			width: 100%;
			position: relative;
			font-family: 'Arimo', sans-serif;
			display: inline-block;

			.menu1 {
				margin: 0 auto;
				width: 920px;
				border-radius: 5px;
				display: inline-block;
				background: rgb(214,214,214); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(147,147,147,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(147,147,147,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
				box-shadow: 1px 7px 10px -4px #5C5C5C;
				.menu{
					padding: 0;
					margin: 0;
				}
				li {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					a {
						font-size: 13px;
						color: #3D3028;
						text-decoration: none;
						position: relative;
						font-weight: bold;
						padding: 5px 0 !important;
						display: inline-block;
						line-height: 12px;

						&:hover {
							color: #FFF;
						}
					}

					ul{
						max-height:0px; 
						min-width: 50px;
						width: 105px;
						position: absolute;
						visibility: hidden;
						z-index: 999;
						top: 34px;
						left: -38px;
						transition: max-height .8s .5s;
						-moz-transition: max-height .8s .5s;
						-o-transition: max-height .8s .5s;
						-webkit-transition: max-height .8s .5s;


						li{
							display: block;
							border: none;
							background: rgb(214,214,214); /* Old browsers */
							background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(147,147,147,1) 100%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(147,147,147,1))); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* Opera 11.10+ */
							background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* IE10+ */
							background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(147,147,147,1) 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
							border: 1px solid #000;
							width: 100% !important;
							text-align: center;
							margin: 0;



							&:before{
								width: 0 !important;
								height: 0 !important;
							}

							&:last-child{
								border-right: 1px solid #000;
							}

							a {
								font-size: 13px;
								color: #3D3028;
								text-decoration: none;
								position: relative;
								font-weight: bold;
								width: 100%;
								display: inline-block;
								padding: 0 !important;

								&:hover {
									color: #FFF;
								}
							}

							ul{
								max-height:0px; 
								min-width: 50px;
								width: 110px;
								visibility: hidden;
								position: absolute;
								z-index: 999;
								top: -9px;
								left: 65px;
								transition: max-height .8s .5s;
								-moz-transition: max-height .8s .5s;
								-o-transition: max-height .8s .5s;
								-webkit-transition: max-height .8s .5s;
								margin-top: 8px;
							}

							&:hover{

								& > ul{
									max-height: 610px;
									visibility: visible;
								}
							}
			  			}	
					}

					&:hover{

					 	& > ul{
							max-height: 610px;
							visibility: visible;
						}
					}


					&:first-child{
						width: 50px;
					}

					&:nth-child(2){
						width: 110px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(3){
						width: 105px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(4){
						width: 130px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(5){
						width: 113px;
						a{
							padding: 4px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color:	#898989;
						}
					}

					&:nth-child(6){
						width: 77px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(7){
						width: 147px;
						a{
							padding: 1px 0;
						}
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(8){
						width: 88px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(9){
						width: 99px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: 0;
							left: 0;
							background-color: #898989;
						}
					}

					&:nth-child(10){
						width: 91px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}

					&:last-child{
						border-right: none;
						width: 99px;
						&:before{
							position: absolute;
							content: "";
							width: 1px;
							height: 36px;
							top: -6px;
							left: 0;
							background-color: #898989;
						}
					}
				}
			}
		}
	}

/* Contenido */

main{
	width: 100%;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	
	.content-all{
		width: 920px;
		display: inline-block;
		img{
			float: left;
		}
		.imagenes-main{
			.moduletable{
				table{
					margin: 0 auto;
					position: relative;
					float: left;
					tr{
						td{
							width: 288px;
							float: left;
							padding: 0;
							border-radius: 5px;
							text-align: left;
							position: relative;
							max-height: 178px;


							&:nth-child(2){
					   			margin: 0 26px;

					   		}
							&:hover{
						-ms-transform: scale(1.04); /* IE 9 */
					   -webkit-transform: scale(1.04); /* Chrome, Safari, Opera */
					   transform: scale(1.04);
					   opacity: 0.8;
					}
							p{
								margin: 0;
								img{
								}
							}
							h4{
								display: inline-block;

							}
						}
					}
				}
			}
		}
		.registro{
			background-image: url('../images/home/boton-verde.png');
			float: left;
			background-repeat: no-repeat;
			width: 288px;
			min-height: 178px;
			margin-top: 2px;
			position: relative;
			&:hover{

				-ms-transform: scale(1.04);
				-webkit-transform: scale(1.04);
				transform: scale(1.04);
				opacity: 0.8;
			}
		}

		div.acymailing_module, .acymailing_module div{
			
		}

		table.acymailing_form{
			margin: 145px auto 0 auto;
		}

		.acymailing_fulldiv tr, .acymailing_fulldiv td{
			float: left;
		}
	}
}


