.notice, .message{ 
	font-size: 18px; 
	color: #4d4d4d;

	h2{
		font-size: 18px; 
		color: #4d4d4d;
		border: 1px solid #4d4d4d;
	}
}
.error{
	color: red; 
	font-size: 17px;

	h2{
		font-size: 17px; 
		color: red;
		border: 1px solid red;
	}

}

dt.warning{
	display: none;
}

.warning{
	color: orange;

	h2{
		color: orange;
		border: 1px solid orange;
	}

}
.success{ 

	h2{
		color: green; 
		border: 1px solid green;
	}
}

div.registration{
	border: 1px solid #CCC;
	border-radius: 6px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;

	.login, .reset{
		text-align: left;

		fieldset{
			margin-top: 10px;
		}

		.validate{
			.button;

		}

		.button{
			width: 200px;
			font-size: 16px;
		}
	}

	.links{
		text-align: left;
		margin-top: 10px;

		a{
			color: #1CADEB;
			font-size: 16px;
			text-decoration: none;
		}
	}

	.info-top{
		border-bottom: 2px dashed #808080;
		padding-bottom: 8px;
		display: inline-block;

		h2{
			color: #5B5B5B;
			float: left;
			font-size: 25px;
			font-weight: bold;
			width: 345px;
			margin-right: 5px;
			text-align: left;
		}

		p{
			font-size: 12px;
			color: #0573ba;
			float: left;
			width: 548px;
			text-align: left;
		}
	}

	.info-registro{
		width: 100%;
		display: inline-block;
		margin-top: 10px;

		li{
			width: 50%;
			float: left;
			display: inline-block;
			text-align: left;

			&:first-child{
				width: 39%;
			}

			.required, .message-required{
				font-size: 12px;
			}

			.required{
				color: red;
			}

		}
	}

	.title{
		font-style: 17px;
		border-bottom: 0;
		text-align: left;
	}

	.cuenta{
		width: 50%;
		float: left;

		li{
			width: 17%;
			float: left;
			display: inline-block;

			span{
				margin-top: 2px;
				display: inline-block;
			}

			&:first-child{
				width: 37%;
			}
		}
	}

	#member-registration-persona,#member-registration-empresa,#member-edit-persona, #member-edit-empresa{
		width: 100%;
		display: inline-block;
		margin-top: 15px;

		.title{
			margin-top: 20px;
			float: left;
		}

		p{
			width: 100%;
			display: inline-block;
			text-align: justify;
			margin-top: 10px;
		}

		.datos-personales{
			width: 100%;
			float: left;

			li{
				width: 34%;
				float: left;
				text-align: left;
				margin-bottom: 5px;

				input[type="text"], input[type="password"]{
					width: 143px;
					height: 17px;
				}

				input[readonly="readonly"]{
					background-color: #E0E0E0;
					border: none;
					padding: 3px;
				}
			}

		}

		.datos-facturacion-two{
			width: 100%;
			display: inline-block;

			li{
				width: 57%;
				float: left;
				text-align: left;
				margin-bottom: 5px;
			}

		}

		.datos-facturacion-one{
			margin-top: 20px;
			width: 100%;
			display: inline-block;

			li{
				width: 20%;
				float: left;
				text-align: left;
				margin-bottom: 5px;
			}

		}

		.condiciones{
			width: 94%;
			display: inline-block;
			margin-top: 10px;

			li{
				width: 34%;
				float: left;
			}
		}

		select{
			height: 21px;
		}

			
	}

	.enviar-button, .button, .validate{
		margin-top: 15px;
		background-color: #5584D6;
		border: none;
		color: #FFF;
		border-radius: 8px;
		width: 81px;
		height: 29px;
		cursor: pointer;
		font-weight: bold;
	}
	
}

.edit{
	.info-top{
		margin-bottom: 15px; 
	}
}