#tienda{

	#camisa_detail{

		.escojer{
			width: 100%;
			float: left;
			margin-top: 12px;
			border-radius: 12px;
			border:1px solid #666;

			h2{
				.texto_oscuro;
				text-align: left;
				text-transform: uppercase;
				padding-left: 20px;
				position: relative;

				&:before{
					content: "1";
					background: @aguamarina;
					border-radius: 50px;
					color: @blanco;
					position: absolute;
					left: 0;
					font-weight: lighter;
					font-size: 13px;
					top: 0px;
					padding: 1px 4px;
				}
			}

			.primer_nivel{
				text-align: center;
				margin: 0 auto;
				display: inline-block;

				li{
					display: inline-block;
					width: 80px;
					text-align: center;
					opacity: 0.3;
					float: none;
					& > * {vertical-align: bottom;}

					&.active, &:hover{ opacity: 1; }

					img{
						float: none;
						width: 71px;
					}

					span.tipo{
						display: inline-block;
						.texto_claro;
						font-size: 10px;
						text-align: center;
						width: 75px;
					}

					&.sub{display: none; 
						float: right;
						margin-left: -7px;
						&:first-child{}
					}
				}
			}
		}
	}

	.content_mods{
		width: 100%;
		float: left;
		margin-top: 12px;

		.image{
			width: 531px;
			height: 360px;
			border-radius: 12px;
			border:1px solid #666;
			float: left;

			img{
				width: 500px;
				height: 320px;
				margin: 20px auto 0;
				float: none;
			}
		}

		.c_cuarenta{
			width: 375px;
			height: auto;
			float: right;

			.cantidad{
				border-radius: 12px;
				border:1px solid #666;

				h2{
					.texto_oscuro;
					text-align: left;
					text-transform: uppercase;
					padding-left: 20px;
					position: relative;

					&:before{
						content: "2";
						background: @aguamarina;
						border-radius: 50px;
						color: @blanco;
						position: absolute;
						left: 0;
						font-weight: lighter;
						font-size: 13px;
						top: 0px;
						padding: 1px 4px;
					}
				}	

				.tallas{
					width: 300px;
					border-radius: 3px;
					border:1px solid rgba(102, 102, 102, 0.56) ;		
					border-collapse: inherit;	
					margin: 0 auto;
					line-height: 1;
					border:1!important;

					td{
						width: 20%;
						.texto_oscuro;
						text-align: center;
						padding: 3px;
						font-size: 15px;

						input[type="text"] {
							width: 50px;
							border: none;
							text-decoration: none;
							font-family: @open;
							font-size: 14px;
							text-align: center;
							color: #5A5A5A;
						}
					}		
				}

				.azul{
					display: inline-block;
					width: 88%;
					text-align: right;
					font-style: italic;
				}

				.content_price{
					width: 300px;
					margin: 0 auto 10px;

					input{
						.texto_claro;
						border-radius: 7px;
						border:1px solid #666 ;	
						padding: 16px 6px 4px;
						text-align: center;
						width: 100px;
						font-size: 16px;
						margin-top: 3px;
					}

					.calculadora{
						display: inline-block;
						float: left;
					}
					.precio_unitario{
						display: inline-block;
						float: left;
						margin-right: 5px;
						margin-left: 10px;
						position: relative;

						.title_precio{
							position: absolute;
							top: 4px;
							font-size: 11px;
							left: 23px;
							font-family: @open;
							color: #5A5A5A;
						}
					}
					.azul{
						display: inline-block;
						width: 88%;
						text-align: right;
						font-style: italic;
						color: @textclaro;
						font-size: 11px;
					}
				}

				.gris{
						text-align: left!important;
						color: @textclaro;
						font-size: 13px;
						width: 95%;
						display: inline-block;
						margin: 0 auto 6px;
				}
			}

			.subir{
				border-radius: 12px;
				border:1px solid #666;	
				margin-top: 12px;	
				
				h2{
					.texto_oscuro;
					text-align: left;
					text-transform: uppercase;
					padding-left: 20px;
					position: relative;

					&:before{
						content: "3";
						background: @aguamarina;
						border-radius: 50px;
						color: @blanco;
						position: absolute;
						left: 0;
						font-weight: lighter;
						font-size: 13px;
						top: 0px;
						padding: 1px 4px;
					}
				}		

				input[type="file"]{
					width: 87%;
					margin: 0 auto;
					border-radius: 0px 10px 10px 0;
				}

				.azul{
					font-style: italic;
					display: block;
					margin: 12px 0 10px 5px;
				}
				.gris{
					text-align: left!important;
					color: @textclaro;
					font-size: 13px;
					width: 95%;
					font-family: 'Arimo', sans-serif;
					display: inline-block;
					margin: 0 auto 12px;
				}
			}
		}

		.image{
			position: relative;
		}

		.infotallas{
			width: 100%;
			display: none;

			.ic-cerrar{
				position: absolute;
				right: 8px;
				top: 7px;

				img{
					width: auto;
					margin: 0;
					height: auto;
					background:none;
				}
			}

			.imagen{
				float: left;
				bottom: 0;
				position: absolute;
				left: 30px;
				img { 
					background: none;
					width: auto;
					height: auto;
					margin:0;
					float: none;
				}
			}

			table.tallas{
				width: 280px;
				float: right;
				.texto_oscuro;
				border-radius: 5px !important;
				margin: 45px 30px 0 0;
				border-collapse: inherit;
				border: 3px solid #666;
				box-shadow: 3px 5px 6px 1px rgba(102, 102, 102, 0.28);

				tr{

					&:nth-child(2n+1){
						td{
							background: #E6E7E8;
						}
					}
					&:nth-child(2n){
						td{
							background: #F1F1F2;
						}
					}

					td{
						padding: 10px;
						text-align: center;
						font-size: 17px;
						color: #929497;
						&.top{
							.boton_gris;
							height: 74px;
							border-radius: 0;
							h4{
								text-align: center;
								font-size: 15px;
								line-height: 20px;
							}

							.white{
								margin-top: 10px;
								text-align: center;
								font-size: 11px;
								line-height: 15px;
								font-weight: lighter;
								width: 100%;
								display: inline-block;
								text-transform: none;
							}
						}
					}
				}
			}
		}
	}
	.agregar{
		float: right;
		margin-top: 20px;

		button{
			.boton_gris;
			padding-right:43px;
			position: relative;

			&:after{
				content: "";
				background: url("../templates/tshirtcontenidos/images/carrito.png") no-repeat;
				width: 34px;
				height: 27px;
				position: absolute;
				right: 7px;
				top: 0;
			}
		}
	}

	.links{
		float: left;
		margin-top: 7px;

		a{
			.azul;
			text-decoration: none;
			display: inline-block;
			padding: 1px 4px;
			text-transform: uppercase;
			border-left: 1px solid @aguamarina;
			position: relative;

			&:first-child{
				border-left: none;
				padding-left: 20px;
				&:before{
					content: "i";
					background: @aguamarina;
					border-radius: 50px;
					color: @blanco;
					position: absolute;
					left: 0;
					font-weight: lighter;
					font-style: italic;
					font-size: 13px;
					top: 0px;
					padding: 1px 6px;
				}
			}
		}
	}
	.prob{
		float: right;
		.texto_claro;
		font-style: italic;
		font-size: 12px;
		width: 100%;
		text-align: right;
		margin-top: 10px;
	}
}
.content_mods .c_cuarenta .cantidad .gris {
	font-family: 'Arimo', sans-serif;
	width: 97% !important;
	font-size: 12px !important;
}

.content_mods .c_cuarenta .subir input[type="file"] {
	.texto_claro;
}