// estilos de la vista de tienda en la seccion de mugs
#tienda{ 
	.content_all_mugs {
		.clase_mugs{
			width: 100%;
			float: left;
			margin-top: 12px;
			border-radius: 12px;
			border:1px solid #666;

			h2{
				.texto_oscuro;
				text-align: left;
				text-transform: uppercase;
				padding-left: 20px;
				position: relative;

				&:before{
					content: "1";
					background: @aguamarina;
					border-radius: 50px;
					color: @blanco;
					position: absolute;
					left: 0;
					font-weight: lighter;
					font-size: 13px;
					top: 0px;
					padding: 1px 4px;
				}
			}
			.primer_nivel{
				li{
					display: inline-block;
					text-align: center;
					opacity: 0.3;
					width: 121px;
					float: none;
					& > * {vertical-align: bottom;}

					&.active, &:hover{ opacity: 1; }

					img{
						float: none;
					}

					span.tipo{
						display: inline-block;
						.texto_claro;
						font-size: 10px;
						text-align: center;
					}

					&.sub{display: none; 
						float: right;
						margin-left: -19px;
						&:first-child{}
					}
				}
			}
		}	

		.cantidad{

			.c_mugs{
				width: 100%;

				input{
					background: #E6E7E8;
					color:#666;
					font-size: 17px;
					text-align: center;
					.size(70px, 23px);
					border: 1px solid #ccc;
					margin-bottom: 15px;
				}
			}
			.tamanio_imagen{
				width: 75%;
				span.title_tamanio{
					float: left;
					.texto_oscuro;
				}
				.alto, .largo{
					.texto_claro;
					display: block;
					margin-top: 3px;
				}
			}
		}
		.prob_mugs{
			float: left;
			.texto_claro;
			font-style: italic;
			font-size: 11px;
			width: 59%;
			text-align: left;
			margin-top: 10px;
		}
		.guia{
			width: 135px;
			float: right;
			margin-right: 18px;

			a{
				text-align: left;
				font-family: 'Arimo', sans-serif;
				font-weight: lighter;
				display: inline-block;
				text-decoration: none;
				color: #787979;
				font-style: italic;
				font-size: 12px;
				margin-top: 10px;

				.gris{
					margin-top: 12px;
					line-height: 14px;
					margin-top: 4px;
					display: inline-block;
				}
			}
		}
	}
}