/**
*
* variables to use in less
*
*/

// Site Standard colors
@grisdark: #333333;
@bodyBackground: #fff;
@bodyColor: #F9F9F9;
@cafe: #E9D9C8;
@azul: #63a1fb;
@gris: #4d4d4d;
@blanco: #fff;
@verde: #006837;
@azulclaro: #afddf9;
@azulporta: #0066d4;
@grisclaro: #fdfdfd;
@textclaro: #787979;
@aguamarina: #00ADEE;



// Font size
@baseFontSize: 15px;
@tinyFont: 10px;
@smallFont: 13px;
@normalFont: 14px;
@mediumFont: 16px;
@middlefont: 13px;
@largeFont: 23px;
@xLargeFont: 22px;
@bigFont: 30px;
@biggerFont: 32px;
@margin: 0 auto;
@titlefont: 24px;
@subtitlefont: 28px;
@notiFont: 30px;
@titlecontFont:50px;
@portatitleFont:40px;

//line height
@line: 18px;


// Font Family
@arimo:'Arimo', sans-serif;
@open:'Open Sans', sans-serif;
@fontMenu: 'Rancho', cursive;
@titles: 'Shadows Into Light', cursive;
@content: 'Noto Sans', sans-serif;
@subtitles: 'Playball', cursive;