/**
 * ------------------------------------------------------------------------
 * JU Backend Toolkit for Joomla 2.5/3.x
 * ------------------------------------------------------------------------
 * Copyright (C) 2010-2013 JoomUltra. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: JoomUltra Co., Ltd
 * Websites: http://www.joomultra.com
 * ------------------------------------------------------------------------
 */
 
.chzn-container {
    display: inline-block;
    float: left;
    font-size: 13px;
    position: relative;
}
div.pane-slider ul.adminformlist > li {
    border-bottom: 1px dotted #C4C4C4;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 5px;
    min-height: 30px;
    padding-bottom: 5px;
    width: 100%;
}